
<!-- agregando el modal para agregar la cantidad de que se quiere-->
<div class="btn-popup pull-right">
    <ng-template #content3 let-modal3>
        <div class="modal-header">
            <h5 class="modal-title f-w-600" id="exampleModalLabel3">Editar Stock</h5>
            <button type="button" class="close" aria-label="Close"
                    (click)="modal3.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form">
                <div class="form-group">
                    <label for="validationCustom01222" class="mb-1">Agregar cantidad:</label>
                    <input type="number" [(ngModel)]="cantidad_requerido" class="form-control" id = "validationCustom01222" >
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="agregarcantidad(cantidad_requerido)" >Guardar</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal"
                        (click)="modal3.dismiss('Cross click')">Cerrar</button>
            </div>
        </div>
    </ng-template>
</div>
<!-- aqui empiesa lo que se agregara al voucher-->

    <div class=" container-fluid  " style="border: solid;">
    <button (click)="cerrarsession()" >Cerrar session</button>
        <div class="row"  >
        <div class="col-md-6 border" >
            <div class="card-header ">
                <h3>Elección de productos</h3>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="text" class="form-control" name="filtrovoucher" id="filtroporvoucher" (keypress)="nosenvia($event)" placeholder="Buscar un producto por su código" [(ngModel)]="filtrovoucher" />
                </div>
            </div>
            <table class="table table-hover ">
                <thead>
                <tr class="text-center">
                    <th>
                        Código del producto
                    </th>
                     <th>Descripción</th>
                    <th>Precio</th>
                </tr>
                </thead>
                <tbody>
                  <tr class="text-center" *ngFor="let product of productos | voucher:filtrovoucher" >
                      <td  >{{product.pcodigo}}</td>
                      <td *ngIf="filtrovoucher">{{product.pdescripcion}}</td>
                      <td *ngIf="filtrovoucher">{{product.pvalor}}</td>
                      <td *ngIf="filtrovoucher">
                          <button (click)="agregarproductos( [product],content3)" [disabled]="product.retoro"   class="btn btn-success">Agrerar Producto</button>
                       </td>
                    </tr>
                    </tbody>
                </table></div>
        <div class="col-md-6 border">
            <div class="card-header ">
                <h3>Forma de pago</h3>
            </div>
<!--           <app-create-page>
            </app-create-page>-->
            <div class="card-body" style="border: solid;">
            <h4>Seleccionar medio de pago </h4>
             <label>
                 <select [(ngModel)]="loseleccionadodelacompra" class="custom-control col-xl-12 col-sm-12"  name="loseleccionadelacompra" id="loseleccionadodelacompra" [value]="0" (change)="loelejidoes(loseleccionadodelacompra)">
                     <option [ngValue]="0"></option>
                     <option [ngValue]="i" *ngFor="let i  of selecciondecomra" [selected]="0">{{i.mpnombre}}</option>
                 </select>
             </label>
            <div id="elefectivo" hidden>
           <h4>Efectivo</h4>
             <input type="text" class="custom-control" placeholder="Cantidad en efectivo" name="efectivoapagar" id="Efctivo" [(ngModel)]="efectivoapgar" (change)="devolucion(efectivoapgar)" >
            </div>
             <h4>Total generado</h4>
             <h1 >{{ticketComponent.total()}}</h1>
             <h4>Devolción</h4>
             <h1>{{devolver}}</h1>
            </div>
        </div>
        </div>
    </div>
    <hr>
<app-ticket [agregadoalalista]="agregadoalalista"
            [loseleccionado]=loseleccionadodelacompra
            [elmontodelcliente]=efectivoapgar
            [devolucion]=" devolver "
            [eltotal]="eltotal"
            #ticketComponent
>
</app-ticket>





