<!-- Container-fluid starts-->

<ngx-spinner name="spinnerdashboard">
</ngx-spinner>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card o-hidden widget-cards">
                <div class="bg-warning card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'navigation'" class="font-warning"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8"><span class="m-0">Ganancia actual</span>
                            <h3 class="mb-0">$ <span class="counter" [CountTo]="ganancias_mensuales?.ventas_mensual | ceparador" [from]="0"
                                    [duration]="2">0</span><small> Este mes</small></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card o-hidden  widget-cards">
                <div class="bg-secondary card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'box'" class="font-secondary"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8"><span class="m-0">Ganancia anterior</span>
                            <h3 class="mb-0">$ <span class="counter" [CountTo]="ganancias_mes_pasado?.mes_anterior_es | ceparador" [from]="0"
                                    [duration]="2">0</span><small> Mes anterior</small></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card o-hidden widget-cards">
                <div class="bg-primary card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'message-square'" class="font-primary"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8"><span class="m-0">Pérdida actual</span>
                            <h3 class="mb-0">$ <span class="counter" [CountTo]="stock_perdidas_este_mes?.stock_lost | ceparador" [from]="0"
                                    [duration]="2">0</span><small> Este mes</small></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card o-hidden widget-cards">
                <div class="bg-danger card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'users'" class="font-danger"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8"><span class="m-0">Pérdida anterior</span>
                            <h3 class="mb-0">$ <span class="counter" [CountTo]="stock_perdidas_anterior | ceparador" [from]="0"
                                    [duration]="2">0</span><small> Mes anterior</small></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 xl-100">
            <div class="card">
                <div class="card-header">
                    <h5>Nivel de pérdidas</h5>
                </div>

                <div class="card-body">
                    <div class="market-chart" >
                  <!--      <x-chartist class="board-chart ct-golden-section" [data]="chaarti.data" [type]="chaarti.type"
                                    [options]="chaarti.options" [events]="chaarti.events">
                        </x-chartist>-->
                        <canvas id="canvas" width="80" height="30">{{chaarti}}</canvas>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 xl-100">
            <div class="card">
                <div class="card-header">
                    <h5>Productos más vendidos</h5>
                </div>
                <div class="card-body">
                    <div class="user-status table-responsive latest-order-table">
                        <table class="table table-bordernone">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Ganancias</th>
                                    <th scope="col">Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let i of lista_producto_vendido() | paginate:{itemsPerPage:5,currentPage:p}">
                                    <td>{{i.nombre}}</td>
                                    <td>{{i.valor}}</td>
                                    <td>{{i.cantidad}}</td>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card order-graph sales-carousel">
                <div class="card-header">
                    <h6>Porcentaje de ventas</h6>
                    <div class="row">
                        <div class="col-6">
                            <div class="small-chartjs">
                                <canvas id="ctx1" width="140" height="60" >{{porsentaje_venta}}</canvas>
                             <!--   <canvas baseChart id="small-graph-1" height="60vw" width="140vw"
                                    [datasets]="smallLineChartData" [labels]="smallLineChartLabels"
                                    [options]="smallLineChartOptions" [colors]="smallLineChartColors"
                                    [legend]="smallLineChartLegend" [chartType]="smallLineChartType"
                                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>-->
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="value-graph">
                                <h3>{{porcentaje_ventas * 100}}% <span><i class="fa fa-angle-up font-primary"></i></span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            <span>Ventas totales</span>
                            <h2 class="mb-0"  >{{todas_las_ventas?.ganancias_totales}}</h2>
                          
                        </div>
                        <div class="bg-primary b-r-8">
                            <div class="small-box">

                                <i data-feather="briefcase"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card order-graph sales-carousel">
                <div class="card-header">
                    <h6>Porcentaje de pérdidas primer inventario</h6>
                    <div class="row">
                        <div class="col-6">
                            <div class="small-chartjs">
                               <canvas  id="ctx2" height="60vw" width="140vw" >{{porcentaje_perdida}}</canvas>
                                    <!--[datasets]="smallLine2ChartData" [labels]="smallLine2ChartLabels"
                                    [options]="smallLine2ChartOptions" [colors]="smallLine2ChartColors"
                                    [legend]="smallLine2ChartLegend" [chartType]="smallLine2ChartType"
                                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>-->
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="value-graph">
                                <h3>{{porcentaje_perdidas * 100}}% <span><i class="fa fa-angle-up font-secondary"></i></span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            <span>Total de perdidas inventario</span>
                            <h2 class="mb-0">{{totalperdidasinventario1?.totalperdiasinv}}</h2>
                            
                        </div>
                        <div class="bg-secondary b-r-8">
                            <div class="small-box">
                                <i data-feather="credit-card"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card order-graph sales-carousel">
                <div class="card-header">
                    <h6>Pérdidas en el segundo inventario</h6>
                    <div class="row">
                        <div class="col-6">
                            <div class="small-chartjs">
                                <canvas baseChart id="ctx3" height="60vw" width="140vw">{{todas_perdidainventario2}}</canvas>
                                    <!--[datasets]="smallLine3ChartData" [labels]="smallLine3ChartLabels"
                                    [options]="smallLine3ChartOptions" [colors]="smallLine3ChartColors"
                                    [legend]="smallLine3ChartLegend" [chartType]="smallLine3ChartType"
                                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>-->
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="value-graph">
                                <h3>{{todas_perdidasinventario2 * 100 }}% <span><i class="fa fa-angle-up font-warning"></i></span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            <span>Total de pérdidas inventario 2</span>
                            <h2 class="mb-0">{{total_perdidasobtenidas?.total_perdidas}}</h2>
                        </div>
                        <div class="bg-warning b-r-8">
                            <div class="small-box">
                                <i data-feather="shopping-cart"></i>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card order-graph sales-carousel">
               <div class="card-header">
                    <h6> Ventras rapidas</h6>
                    <div class="row">
                        <div class="col-6">
                            <div class="small-chartjs">
                               <canvas baseChart id="ctx4" height="60vw" width="140vw">{{venta_rapidasgrafico}}</canvas>
                                    <!--[datasets]="smallLine4ChartData" [labels]="smallLine4ChartLabels"
                                    [options]="smallLine4ChartOptions" [colors]="smallLine4ChartColors"
                                    [legend]="smallLine4ChartLegend" [chartType]="smallLine4ChartType"
                                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>-->
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="value-graph">
                                <h3>{{ventas_rapidasrealizada * 100}}% <span><i class="fa fa-angle-up font-danger"></i></span></h3>
                            </div>
                        </div>
                    </div>
                </div>
              <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            <span>Ventas rapidas cantidad ganada</span>
                            <h2 class="mb-0">{{total_ventasrapidas?.totalventasR}}</h2>
                            </div>
                        <div class="bg-danger b-r-8">
                            <div class="small-box">
                                <i data-feather="calendar"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Mermas</h5>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-xl-6 col-sm-8 xl-100" >
                            <div class="order-graph sm-order-space">
                                <div class="peity-chart-dashboard text-center chart-vertical-center">
                                    <div class="chart">
                                        <canvas width="300" height="500" baseChart
                                                [data]="pieChartData"
                                                [labels]="pieChartLabels"
                                                [chartType]="pieChartType"
                                                [options]="pieChartOptions"
                                                [plugins]="pieChartPlugins"
                                                [colors]="pieChartColors"
                                                [legend]="pieChartLegend">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Container-fluid Ends-->
