
<ngx-spinner name="spinnercompa">
</ngx-spinner>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="list-group">
            <li class="list-group-item  active">
                <label for="comparacion1"> Elija la comparacion que decea estudiar:   </label>
                <select id="comparacion1" [(ngModel)]="producto1">
                    <option selected value="0"></option>
                    <option [ngValue]="prod" *ngFor="let prod of Realizadas" >{{prod.product.brand.bnombre}}</option>
                </select>
            </li>
            <div class = "search-results" infiniteScroll  [infiniteScrollDistance]="1" [infiniteScrollThrottle]="3" (scrolled)="onScroll()" >
            <li  class="list-group-item list-group-item-action" *ngFor="let prdu of Realizadas">{{prdu.product.category.cnombre}}</li>
            </div>
          </div>
      </div>
      <div class="col-sm">       
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"> 
            <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <hr>
            <div class="col" style="margin: 20px;"><button type="button" class="btn btn-info" (click)="Comparar()" >Info</button></div>
            <hr>
            <div class="col"></div>
            <div class="col"></div>
            </div>
         </div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
      <div class="col-sm">
        <div class="list-group">
            <li  class="list-group-item list-group-item-action active">
                <label for="comparacion2"> Elija la comparacion que decea estudiar:   </label>
                <select id="comparacion2" [(ngModel)]="producto2">
                    <option value="0" selected></option>
                    <option [ngValue]="prod2" *ngFor="let prod2 of Realizadas" >{{prod2.product.brand.bnombre}}</option>
                </select>
            </li>
            <div class = "search-results" infiniteScroll  [infiniteScrollDistance]="1" [infiniteScrollThrottle]="3" (scrolled)="onScroll()">
            <li href="#" class="list-group-item list-group-item-action" *ngFor="let prdu2 of Realizadas">{{prdu2.product.category.cnombre}}</li>    
            </div>
          </div>
      </div>
    </div>
  </div>