<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Lista de usuarios</h5>
        </div>
        <div class="card-body">
            <div class="btn-popup pull-right">
            </div>
            <div id="batchDelete" class="category-table custom-datatable transcation-datatable user-image">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr class="text-center">
                            <th>
                                ID
                            </th>
                            <th>
                                Nombre Usuario
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let usuario of (usuarios | async | paginate: {itemsPerPage:5, currentPage:p}) " class="text-center">
                            <td>{{usuario.user.rut_user  }}</td>
                            <td>{{usuario.user.name_user }}</td>

                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event" previousLabel="Atras" nextLabel="Siguiente"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
