<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Impuestos</h5>
                </div>
                <div class="card-body">
                    <div class="btn-popup pull-right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-original-title="test"
                                data-target="#exampleModal" (click)="open(content)">Agregar Impuesto</button>
                        <ng-template #content let-modal>
                            <div class="modal-header">
                                <h5 class="modal-title f-w-600" id="exampleModalLabel">Agregar nuevo impuesto</h5>
                                <button type="button" class="close" aria-label="Close"
                                        (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="needs-validation" [formGroup]="impuestos" (ngSubmit)="guardarimpuesto(impuestos)">
                                    <div class="form">
                                        <div class="form-group">
                                            <label for="validationCustom01" class="mb-1">Nombre impuesto :</label>
                                            <input class="form-control" formControlName="tnombre" id="validationCustom01" type="text" autocomplete="off" required>
                                        </div>
                                    </div>
                                    <div class="form">
                                        <div class="form-group">
                                            <label for="validationCustom0122" class="mb-1">Porsentaje de impuesto:</label>
                                            <input class="form-control" formControlName="timpuesto" id="validationCustom0122" type="text" required>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" >Guardar</button>
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                                (click)="modal.dismiss('Cross click')">Cerrar</button>
                                    </div>
                                </form>
                            </div>

                        </ng-template>

                        <ng-template #content2 let-modal2>
                            <div class="modal-header">
                                <h5 class="modal-title f-w-600" id="exampleModalLabel2">Editar impuesto</h5>
                                <button type="button" class="close" aria-label="Close"
                                        (click)="modal2.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form">
                                    <div class="form-group">
                                        <label for="validationCustom012" class="mb-1">Nombre del impuesto:</label>
                                        <input class="form-control" [(ngModel)]="impuestoID.tnombre" id="validationCustom012" type="text">
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" (click)="editarimpuesto(impuestoID)" >Guardar</button>
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                            (click)="modal2.dismiss('Cross click')">Cerrar</button>
                                </div>
                            </div>

                        </ng-template>
                    </div>
                    <div id="batchDelete" class="category-table custom-datatable">
                        <div class="table-responsive">
                            <div class="container ">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>Categorías</h3>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr class="text-center">
                                                <th>
                                                    ID
                                                </th>
                                                <th>
                                                    Nombre impuesto
                                                </th>
                                                <th>
                                                    Pocentaje %
                                                </th>
                                                <th>Cambiar</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let IMP of (IMPs | async | paginate: {itemsPerPage:5, currentPage:p}) " class="text-center">
                                                <td>{{IMP.id  }}</td>
                                                <td>{{IMP.tnombre}}
                                                <td>{{IMP.timpuesto}}</td>
                                                <td>
                                                    <button  class="btn btn-warning" (click)="open2(content2, IMP)">Editar</button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <pagination-controls (pageChange)="p = $event"></pagination-controls>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
