<form  (ngSubmit)="guardareldetallevoucher(agregadoalalista, busquedavoucher,loseleccionado,ingresodeunvaucher,ticketForm)"  >
<button class="oculto-impresion btn btn-success" (click)="imprimir('ticket')"> imprimir</button>
<button  class="oculto-impresion btn btn-info" type="submit"> Guardar voucher</button>
<div id="register">
    <div id="ticket" >
        <h3>Productos:</h3>

        <table  >

            <tbody >
             </tbody>
            <tfoot  >
            <tr >
                <th>
                    
                    Atendido por:
                </th>
                <th>
                </th>
                <th >
                    Hora: <div id="hora_venta"></div>
                </th>
           
            </tr>
            <tr>

            </tr>
            <tr *ngFor=" let productitos of agregadoalalista  " >
                <th>
                    COD:
                    <ul >
                        <p>{{productitos.pcodigo }} </p>

                    </ul>

                </th>
                <th>
                    PREC:
                    <ul    >
                        <p>{{productitos.pvalor}}</p>
                    </ul>
                </th>
                <th >
                    ARTI:
                    <ul    >
                        <p>{{productitos.pdescripcion  }} </p>
                    </ul>
                </th>
                                <th>
                                    Cantidad de productos
                                    <ul >
                                <p>{{productitos.cantidad}}</p>
                                </ul>
                                </th>
                                <th>
                                    Eliminar
                                    <ul  >
                                        <p>  <button (click)="borrarvoucher($event)" >X</button></p>

                                    </ul>
                                </th>



            </tr>

            </tfoot>


        </table>
        <tr >
            <th>Total: {{total()}}</th>
        </tr>
        <li *ngFor="let encuentra of busquedavoucher" >
            <ngx-barcode [bc-value]= "encuentra.length" [bc-display-value]="true"></ngx-barcode>
        </li>


    </div>

</div>


</form>
