<form  (ngSubmit)="guardareldetallevoucher(agregadoalalista, busquedavoucher)"  >
<button class="oculto-impresion btn btn-success" (click)="imprimir('ticket')"> imprimir</button>
<button  class="oculto-impresion btn btn-info" type="submit"> Guardar voucher</button>
<div id="register">
    <div id="ticket" >
        <h3>Productos:</h3>
        <table  >

            <tbody >
             </tbody>
            <tfoot  >
            <tr >
                <th>
                    Atendido por:
                </th>
                <th>
                </th>
                <th>
                    Fecha: <div>{{dia}} {{fecha}}</div>
                </th>
                <th >
                    Hora: <span id="#horas"></span>:<span id="#minutos"></span>:<span id="#segundos"></span><span id="#ampm"></span>
                </th>
            </tr>
            <tr>
            </tr>
            <tr *ngFor=" let productitos of agregadoalalista  " >
                <th>
                    COD:
                    <ul >
                        <p>{{productitos.pcodigo }} </p>

                    </ul>

                </th>
                <th>
                    PREC:
                    <ul    >
                        <p>{{productitos.pvalor}}</p>
                    </ul>
                </th>
                <th >
                    ARTI:
                    <ul    >
                        <p>{{productitos.pdescripcion  }} </p>
                    </ul>
                </th>
                                <th>
                                    Cantidad de productos
                                    <ul >
                                <p>{{productitos.cantidad}}</p>
                                </ul>
                                </th>
                                <th>
                                    Eliminar
                                    <ul  >
                                        <p>  <button (click)="borrarvoucher($event)" >X</button></p>
                                    </ul>
                                </th>
            </tr>
            </tfoot>
        </table>
        <tr >
            <th>Total: {{total()}}</th>
        </tr>
    </div>

</div>


</form>
