<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Productos</h5>
                </div>
                <div class="card-body">
                    <div class="btn-popup pull-right">

                       <ng-template #content2 let-modal2>
                            <div class="modal-header">

                                <h5 class="modal-title f-w-600" id="exampleModalLabel2">Editar producto</h5>
                                <button type="button" class="close" aria-label="Close"
                                        (click)="modal2.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form">
                                    <div class="form-group">
                                        <label for="validationCustom012" class="mb-1">Nombre descriptivo del producto :</label>
                                        <input class="form-control" [(ngModel)]="productoporid.pdescripcion" id="validationCustom012" type="text">
                                    </div>

                                    <div class="form-group">
                                        <label for="validationCustom0122" class="mb-1">Detalle del producto :</label>
                                        <textarea class="form-control" [(ngModel)]="productoporid.pdetalle" id="validationCustom0122" rows="5" cols="10" type="text">
                                        </textarea>
                                    </div>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" (click)="editarproductos(productoporid)" >Guardar</button>
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                            (click)="modal2.dismiss('Cross click')">Cerrar</button>
                                </div>
                            </div>

                        </ng-template>
                    </div>

                    <div class="btn-popup pull-right">

                        <ng-template #content3 let-modal3>
                            <div class="modal-header">

                                <h5 class="modal-title f-w-600" id="exampleModalLabel3">Editar Stock</h5>
                                <button type="button" class="close" aria-label="Close"
                                        (click)="modal3.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form">

                                    <div class="form-group">
                                        <label for="validationCustom01222" class="mb-1">Stock Actual:</label>
                                        <input type="number" [(ngModel)]="stock_actualizado.pstock" class="form-control" id = "validationCustom01222" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="validationCustom0122222" class="mb-1">Nuevo Stock:</label>
                                        <input type="number" [(ngModel)]="stock_nuevo" class="form-control" id="validationCustom0122222" >
                                    </div>
                                    <div class="form-group">
                                        <label for="validationCustom012222" class="mb-1">Stock Perdida Actual:</label>
                                        <input type="number" class="form-control" [(ngModel)]="stock_actualizado.stock_lost" id="validationCustom012222" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="validationCustom01222222" class="mb-1">Nuevas Perdidas:</label>
                                        <input type="number" [(ngModel)]="stock_perdidas_nuevo" class="form-control" name="perdidas" id="validationCustom01222222">
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" (click)="editarstock(stock_actualizado, stock_nuevo,stock_perdidas_nuevo)" >Guardar</button>
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                            (click)="modal3.dismiss('Cross click')">Cerrar</button>
                                </div>
                            </div>

                        </ng-template>
                    </div>


                    <div id="batchDelete" class="category-table custom-datatable">
                        <div class="table-responsive">
                            <div class="container ">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>Inventario sin stock</h3>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-hover" id="table3">
                                            <thead>
                                            <tr class="text-center">
                                                <th>
                                                    Codigo del producto
                                                </th>
                                                <th>
                                                    Nombre descriptivo
                                                </th>
                                                <th>Precio</th>
                                                <th>Stock</th>
                                                <th>Estado</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tbody3">
                                            <tr *ngFor="let category of (invpeligro | async| inventariopeligro ) | paginate: {id:'pagination3',itemsPerPage:3, currentPage:j} ; let i=index  " class="text-center" id="tr3">
                                                <td id="td111">{{category.pcodigo  }}</td>
                                                <td id="td222">{{category.pdescripcion }}</td>
                                                <td id="td333">{{category.pvalor}}</td>
                                                <td id="td444">{{category.stock.pstock}}</td>
                                                <td [attr.id]="'peligro' + i + j "  >{{cambiarColorSinStock(category.stock.pstock,i, j)}}</td>
                                                <td>
                                                    <button  class="btn btn-warning" (click)="open2(content2, category)">Editar</button>
                                                    <button class="btn btn-success-gradien" (click)="open3(content3, category.stock)">Stock</button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <pagination-controls (pageChange)="j = $event" previousLabel="Atras" nextLabel="Siguiente" id="pagination3"></pagination-controls>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="table-responsive">
                        <div class="container ">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Inventario en gestión</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table table-hover" id="table2">
                                        <thead>
                                        <tr class="text-center">
                                            <th>
                                                Codigo del producto
                                            </th>
                                            <th>
                                                Nombre descriptivo
                                            </th>
                                            <th>Precio</th>
                                            <th>Stock</th>
                                            <th>Estado</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbody2">
                                        <tr *ngFor="let category of (invpeligro | async| inventarioGestion ) | paginate: {id:'pagination2',itemsPerPage:3, currentPage:d} ; let i=index  " class="text-center" id="tr2">
                                            <td id="td11">{{category.pcodigo  }}</td>
                                            <td id="td22">{{category.pdescripcion }}</td>
                                            <td id="td33">{{category.pvalor}}</td>
                                            <td id="td44">{{category.stock.pstock}}</td>
                                            <td [attr.id]="'gestionar' + i + d "  >{{cambiarColorGestion(category.stock.pstock,i, d)}}</td>
                                            <td>
                                                <button  class="btn btn-warning" (click)="open2(content2, category)">Editar</button>
                                                <button class="btn btn-success-gradien" (click)="open3(content3, category.stock)">Stock</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <pagination-controls (pageChange)="d = $event" previousLabel="Atras" nextLabel="Siguiente" id="pagination2"></pagination-controls>

                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="table-responsive">
                            <div class="container ">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>Inventario sano</h3>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-hover" id="table1">
                                            <thead>
                                            <tr class="text-center">
                                                <th>
                                                    Código del producto
                                                </th>
                                                <th>
                                                    Nombre descriptivo
                                                </th>
                                                <th>Precio</th>
                                                <th>Stock</th>
                                                <th>Estado</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tbody1">
                                            <tr *ngFor="let category of (listproductos |async |inventarionsano ) | paginate: {id:'pagination1',itemsPerPage:3, currentPage:h}; let i=index " class="text-center" id="tr1">
                                                <ng-container *ngIf="category.stock.pstock >= 10">
                                                <td id="td1">{{category.pcodigo  }}</td>
                                                <td id="td2">{{category.pdescripcion }}</td>
                                                <td id="td3">{{category.pvalor}}</td>
                                                <td id="td4">{{category.stock.pstock}}</td>
                                                <td [attr.id]="'estado' + i + h"  >{{cambiadColor(category.stock.pstock,i, h)}}</td>
                                                <td>
                                                    <button  class="btn btn-warning" (click)="open2(content2, category)">Editar</button>
                                                    <button class="btn btn-success-gradien" (click)="open3(content3, category.stock)">Stock</button>
                                                </td>
                                                </ng-container>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <pagination-controls (pageChange)="h = $event" previousLabel="Atras" nextLabel="Siguiente" id="pagination1"></pagination-controls>

                                    </div>
                                </div>
                            </div>

                        </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>

