

* {
  font-size: 12px;
  font-family: 'Times New Roman', serif;
}

td,
th,
tr,
table {
  border-top: 1px ;
  border-collapse: collapse;
}

td.producto,
th.producto {

  width: 80px;
  max-width: 80px;
}
.centrarCaja {

  position :relative !important;
  left: 10% !important;
}
td.cantidad,
th.cantidad {
  width: 40px;
  max-width: 40px;
  word-break: break-all;
}

td.precio,
th.precio {
  width: 40px;
  max-width: 40px;
  word-break: break-all;
}

.centrado {
  text-align: center;
  align-content: center;
}

.ticket2 {
  border: solid;
  width: 600px;
  max-width: 600px;
}

img {
  width: 578px;
  height: 265px;

}



