<!--<button type="button" class="oculto-impresion btn btn-success"
        styleSheetFile="assets/css/printer.css"
        printSectionId="ticket"
        ngxPrint> imprimir</button>-->


<div class="container">
    <div class="">

        <div id="ticket" class="ticket">
            <section class="sheet">
                <div class="centrarCaja">
                    <div class=" ticket2">
                        <div class=" card ">
                            <div class="centrado">
                                <h2>Botillería Poma</h2>
                                <h2>Calama, Av Huaytiquina #947</h2>
                                <h2>Rut:10.658.138-K</h2>
                                <h2>BOLETA ELECTRONICA No.</h2>
                                <h2>Fecha:<span id="#fecha"></span></h2>
                                <h2>Hora: <span id="#horas"></span>:<span id="#minutos"></span>:<span
                                        id="#segundos"></span><span id="#ampm"></span></h2>
                            </div>
                            <table>
                                <thead style="font-size: xx-small;">
                                <tr>
                                    <th class="cantidad">I</th>
                                    <th class="cantidad">P</th>
                                    <th class="cantidad">C</th>
                                    <th class="cantidad">$$</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let product of item">
                                    <td class="precio" *ngIf="product.sinventario == true">{{product.piva}}</td>
                                    <td class="precio" *ngIf="product.sinventario == true">{{product.brand.bnombre}}{{product.pdescripcion}}</td>
                                    <td class="precio" *ngIf="product.sinventario == true">{{product.quantity}}</td>
                                    <td class="precio" *ngIf="product.sinventario == true">{{product.pvalor}}</td>
                                    
                                    <td class="precio" *ngIf="product.sinventario2 == false">{{product.product.piva}}</td>
                                    <td class="precio" *ngIf="product.sinventario2 == false">{{product.product.brand.bnombre}}{{product.product.pdescripcion}}</td>
                                    <td class="precio" *ngIf="product.sinventario2 == false">{{product.quantity}}</td>
                                    <td class="precio" *ngIf="product.sinventario2 == false">{{product.product.pvalor}}</td>
                                    
                                </tr>

                                <tr>
                                    <td class="precio">Total:${{totalPrices}}</td>
                                </tr>
                                <tr>
                                    <td class="cantidad">TIVA:{{totaliva}}</td>
                                </tr>
                                </tbody>
                            </table>

                            <canvas id="barcode" hidden ></canvas>
                            <img src="" id="imagen" >

                            <p class="centrado">¡GRACIAS POR SU COMPRA!</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- Configuracion de la boleta -->
<ng-container *ngIf="estadoConfi == true">
<div class="container">
    <div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <h1>Configuración de boleta</h1>
        </div>
        <div class="card-body">
            <div class="col-xl-7">
                <div class="add-product-form">
                    <form [formGroup]="boletaform" (submit)="guardarformato(boletaform)">

                        <div class="form-group">
                            <label for="RutEmpresa">Rut empresa</label>
                            <input formControlName="RutEmpresa" type="text" class="form-control digits col-xl-8 col-sm-7"
                                   name="RutEmpresa" id="RutEmpresa" placeholder="Ejemplo: 111111111-1" required>
                        </div>
                        <div class="form-group">
                            <label for="rasonSocial">Rason social</label>
                            <input formControlName="rasonSocial" placeholder="Ejemplo: Botillería S.A" type="text"
                                   class="form-control digits col-xl-8 col-sm-7" name="rasonSocial" id="rasonSocial" required>
                        </div>

                        <div class="form-group">
                            <label for="fechaEmision">Fecha de autorizado el rango de folio</label>
                            <input formControlName="FechaAutori" placeholder="Ejemplo: 2002-10-03" type="text"
                                   class="form-control digits col-xl-8 col-sm-7" name="fechaEmision" id="fechaEmision" required>
                        </div>

                        <div class="form-group">
                            <label for="RutReceptor">Rut del receptor</label>
                            <input formControlName="RutReceptor" placeholder="Ejemplo S.A." type="text"
                                   class="form-control digits col-xl-8 col-sm-7" name="RutReceptor" id="RutReceptor" required>
                        </div>
                        <div class="form-group">
                            <label for="RutReceptor">Rut del emisor</label>
                            <input formControlName="rutEmisor" placeholder="Ejemplo 11111111-1" type="text"
                                   class="form-control digits col-xl-8 col-sm-7" name="rutEmisor" id="rutEmisor" required>
                        </div>

                        <div class="form-group">
                            <label for="TipoDocumento">Tipo de documento</label>
                            <input formControlName="TipoDocumento" placeholder="Ejemplo: 39" type="number"
                                   class="form-control digits col-xl-8 col-sm-7" name="TipoDocumento" id="TipoDocumento" required>
                        </div>

                        <div class="form-group">
                            <label for="CantidadDesde">Cantidad inicial</label>
                            <input formControlName="CantidadDesde" placeholder="Ejemplo: 1" type="number"
                                   class="form-control digits col-xl-8 col-sm-7" name="CantidadDesde" id="CantidadDesde" required>
                        </div>

                        <div class="form-group">
                            <label for="CantidadHasta">Cantidad final</label>
                            <input formControlName="CantidadHasta" placeholder="Ejemplo: 100" type="text"
                                   class="form-control digits col-xl-8 col-sm-7" name="CantidadHasta" id="CantidadHasta" required>
                        </div>
                        <div class="form-group">
                            <label for="identificacionLlave">Identificacion de la llave</label>
                            <input formControlName="identificacionLlave" placeholder="Ejemplo: 1" type="text"
                                   class="form-control digits col-xl-8 col-sm-7" name="identificacionLlave" id="identificacionLlave" required>
                        </div>

                        <div class="form-group">
                            <label for="numeroFolio">Numero de folio</label>
                            <input formControlName="numeroFolio" placeholder="Ejemplo: 122" type="number"
                                   class="form-control digits col-xl-8 col-sm-7" name="numeroFolio" id="numeroFolio" required>
                        </div>
                        <div class="form-group">
                            <label for="moduloLLave">Modulo de la llave</label>
                            <input formControlName="moduloLLave" placeholder="Ejemplo: AMPa7mxz8ysTRazehr5/Oiau98/lku7y2twwndI/142ds54aWjqd" type="text"
                                   class="form-control digits col-xl-8 col-sm-7" name="moduloLLave" id="moduloLLave" required>
                        </div>

                        <div class="form-group">
                            <label for="ExponenteLLave">Exponente de la llave</label>
                            <input formControlName="ExponenteLLave" placeholder="Ejemplo: aw==<" type="text"
                                   class="form-control digits col-xl-8 col-sm-7" name="ExponenteLLave" id="ExponenteLLave" required>
                        </div>
                        <div class="form-group">
                            <label for="identidadLLave">Modulo de la firma digital SHA1withRSA</label>
                            <input formControlName="identidadLLave" placeholder="Ejemplo: %´cy.!©]ãHdZ" type="text"
                                   class="form-control digits col-xl-8 col-sm-7" name="identidadLLave" id="identidadLLave" required>
                            <button type="button" (click)="tranformarIdentidad(identidadLLave)">Trandoformar a SHA1conRSA</button><br>
                            <div *ngIf="encript != [] && taag != []">
                            <div *ngFor="let o of encript">
                               Identidad firma: {{o}}
                            </div><br>
                                <div *ngFor="let o of taag">
                                   Llave de la firma {{o}}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="firmaTimbre">Exponente de la firma digital SHA1withRSA</label>
                            <input formControlName="firmaTimbre" placeholder="Ejemplo: GkdhiwT5a4…09UjhGfsR7l/ " type="text"
                                   class="form-control digits col-xl-8 col-sm-7" name="firmaTimbre" id="firmaTimbre" required/>
                        </div>

                        <button type="submit" class="btn btn-danger">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</ng-container>
