

* {
  font-size: 12px;
  font-family: 'Times New Roman', serif;
}

td,
th,
tr,
table {
  border-top: 1px ;
  border-collapse: collapse;
}

td.producto,
th.producto {

  width: 80px;
  max-width: 80px;
}
.centrarCaja {

  position :relative !important;
  left: 40% !important;
}
td.cantidad,
th.cantidad {
  width: 40px;
  max-width: 40px;
  word-break: break-all;
}

td.precio,
th.precio {
  width: 40px;
  max-width: 40px;
  word-break: break-all;
}

.centrado {
  text-align: center;
  align-content: center;
}

.ticket2 {
  width: 450px;
  max-width: 500px;
}

img {
  width: 450px;
  height: 250px;

}
.ticket{
  margin: 0;
  width: 200px;
  max-width: 200px;
}
canvas{
  margin: 0;
  width: 90mm;
  height: 40.7mm;
}

