
<ng-template #content let-modal>
  <div class="modal-header">
      <h5 class="modal-title f-w-600" id="exampleModalLabel">Lista de productos</h5>
      <button type="button" class="close" aria-label="Close"
          (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="card">
    <div class="card-header">
        <label for="buscarcboleta">Buscar Voucher</label>
        <input type="text" name="buscarboleta" id="buscarboletaPana" (click)="busquedaPan()" class="form-control" placeholder="Ingrese el Código del voucher si se emitio en panaderia" [(ngModel)]="buscarpanaderia" (change)="consultar()">
    </div>
    <div class="card-body">
          <table class=" table-bordered">
            <thead>
              <tr>
                <th scope="col">Código del voucher</th>
                <th scope="col">Precio</th>
                <th scope="col">Origen</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of consultarvoucher | busquedaprodutomarket:buscarpanaderia">
                <td *ngIf="item.market==true">{{item.cod_panaderia}}</td>
                <td *ngIf="item.market==true">{{item.pvalor}</td>
                <td *ngIf="item.market==true">{{item.market}}</td>
              </tr>       
              <button (click)="guardarPanaderia(buscarpanaderia)">Guardar</button> 
            </tbody>
          </table>
      </div>
    </div>
  <div class="modal-body">
      <form  >
        <div id="tablaventa" > 
        <table class="table table-bordered" >
          <thead>
            <tr>
              <th scope="col">CAN</th>
              <th scope="col">Nom</th>
              <th scope="col">Pres</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td>{{item.quantity}}</td>
              <td>{{item.category.cnombre}} {{item.pdescripcion}}</td>
              <td>{{item.pvalor }}</td>
            </tr>
          </tbody>
        </table>
        <div class="col text-center" >
            <h2 class="totalprice">Total: {{totalPrice}}</h2>
        </div>
        <div class="text-center bardcode " id="bardcode">
          <ngx-barcode [bc-value]="codigobarra" [bc-display-value]="true"></ngx-barcode>

        </div>
      </div>
        <!--guardar los registros generar un voucher-->
          <div class="modal-footer">
            <button (click)="guardarregistro()" class="btn-info">GUARDAR</button>
              <button type="button"  class="btn-primary" (click)="imprimirvoleta('tablaventa', 'totalprice','bardcode')" >IMPRIMIR</button>
              <button class="btn-secondary" type="button" data-dismiss="modal"
                      (click)="modal.dismiss('Cross click')">Cerrar</button>
          </div>
      </form>
  </div>
</ng-template>


                
         <div class="container" id="contendor-inicial">
          <div class="row">
            <div class="col">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                    <filter id="gooey">
                        <!-- in="sourceGraphic" -->
                        <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
                        <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="highContrastGraphic" />
                        <feComposite in="SourceGraphic" in2="highContrastGraphic" operator="atop" />
                    </filter>
                </defs>
        </svg>    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                    <filter id="gooey">
                        <!-- in="sourceGraphic" -->
                        <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
                        <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="highContrastGraphic" />
                        <feComposite in="SourceGraphic" in2="highContrastGraphic" operator="atop" />
                    </filter>
                </defs>
            </svg>
        
            <button id="gooey-button" (click)="crecimiento()">
                INICIAR 
                <span class="bubbles">
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                    <span class="bubble"></span>
                </span>
            </button>
            </div>
          </div>
         </div>
              <div class="container-fluid  mx-0" id="contenedor">
                <form name="calculater" class=" d-inline">

                <div class="row">
                    <input type="textfield" name="visor" class="form-control"  id="visor" value=""  autocomplete="off" readonly/>
                </div>
                <div class="row" >
                  <div class="col-xs col-3 mx-0 px-0" style="width: 100%;"><button type="button" class="btn btn-lg btn-block primeralinea" onclick="document.calculater.visor.value+='7'">7</button></div>
                  <div class="col-xs col-3 mx-0 px-0"><button type="button" class="btn btn-lg btn-block primeralinea" onclick="document.calculater.visor.value+='8'">8</button></div>
                  <div class="col-xs col-3 mx-0 px-0"><button type="button" class="btn btn-lg btn-block primeralinea" onclick="document.calculater.visor.value+='9'">9</button></div>
                  <div class="col-xs col-3 mx-0 px-0"><button type="button" class="btn btn-lg btn-block simbolos" onclick="document.calculater.visor.value+='/'">/</button></div>
                </div>
                <div class="row">
                  <div class="col-xs col-3 mx-0 px-0"><button type="button" class="btn btn-lg btn-block primeralinea" onclick="document.calculater.visor.value+='4'">4</button></div>
                  <div class="col-xs col-3 mx-0 px-0"><button type="button" class="btn btn-lg btn-block primeralinea" onclick="document.calculater.visor.value+='5'">5</button></div>
                  <div class="col-xs col-3 mx-0 px-0"><button type="button" class="btn btn-lg btn-block primeralinea" onclick="document.calculater.visor.value+='6'">6</button></div>
                  <div class="col-xs col-3 mx-0 px-0"><button type="button" class="btn btn-lg btn-block simbolos" onclick="document.calculater.visor.value+='*'">*</button></div>
                </div>
                <div class="row">
                  <div class="col-xs col-3 mx-0 px-0"><button type="button" class="btn btn-lg btn-block primeralinea" onclick="document.calculater.visor.value+='1'">1</button></div>
                  <div class="col-xs col-3 mx-0 px-0"><button type="button" class="btn btn-lg btn-block primeralinea" onclick="document.calculater.visor.value+='2'">2</button></div>
                  <div class="col-xs col-3 mx-0 px-0"><button type="button" class="btn btn-lg btn-block primeralinea" onclick="document.calculater.visor.value+='3'">3</button></div>
                  <div class="col-xs col-3 mx-0 px-0"><button type="button" class="btn btn-lg btn-block simbolos" onclick="document.calculater.visor.value+='-'">-</button></div>
                </div>
                <div class="row">
                  <div class="col-xs col-3 mx-0 px-0"><button type="button" class="btn btn-lg btn-block primeralinea" onclick="document.calculater.visor.value+='0'">0</button></div>
                  <div class="col-xs col-3 mx-0 px-0"><button type="button" class="btn btn-lg btn-block simbolos" onclick="document.calculater.visor.value=eval(document.calculater.visor.value)">=</button></div>
                  <div class="col-xs col-3 mx-0 px-0"><button type="button" class="btn btn-lg btn-block simbolos" onclick="document.calculater.visor.value=''">C</button></div>
                  <div class="col-xs col-3 mx-0 px-0"><button type="button" class="btn btn-lg btn-block simbolos" onclick="document.calculater.visor.value+='+'">+</button></div>
                </div>
                <div class="row">
                    <div class="col mx-0 px-0">
                      <button class="btn btn-lg btn-block guardar_valor" (click)="guardarnumero(Cnumero)">Guardar</button>
                    </div>
                    <div class="col mx-0 px-0">
                      <button class="btn btn-lg btn-block buscar-valor" (click)="open(content)">Ver&Buscar</button>
                    </div>
                </div>
              </form>
              </div>
    
  
