<ng-template #content let-modal>
  <div class="modal-header">
      <h5 class="modal-title f-w-600" id="exampleModalLabel">Agregar nueva categoria</h5>
      <button type="button" class="close" aria-label="Close"
          (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form class="needs-validation" [formGroup]="cotizacion" (ngSubmit)="guardarcategoria()">

        <div class="form-row">
            <div class="col-3">
                <label for="vzalidationCustom01" class="mb-1">Cliente o empresa :</label>
                <input class="form-control" formControlName="cliente" id="validationCustom01" type="text" required>
            </div>
            <div class="col">
              <label for="telefono" class="mb-1">Télefono:</label>
                  <input type="text" class="form-control" id="telefono">
            </div>
        </div>
  
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" >Guardar</button>
      <button class="btn btn-secondary" type="button" data-dismiss="modal"
              (click)="modal.dismiss('Cross click')">Cerrar</button>
  </div>
  </form>     
  </div>
</ng-template>


<div class="card">
  <div id="app" class="col-11">

  <div class="card-head">

    <h2 style="margin-top: 30px;">Cotización</h2>
    <div class="informacion-vyt">
      <div class="row my-3">
        <div class="col-10">
          <h1>V&T Computación</h1>
          <p>Av. Balmaceda #3624</p>        
        </div>
        <div class="col-2">
          <img class="tamaño-imagen" src="../../../../../assets/images/vyt.png" />
        </div>      
      </div>
    </div>
  </div>
<button class="btn btn-primary" (click)="open(content)">Realizar Cotización</button>
<div class="card-body">
  <hr>
  <div class="row fact-info mt-3">
    <div class="col-3">
      <h5>Cotizar a</h5>
      <p>dasda</p>
    </div>
    <div class="col-3">
      <h5>Enviar a</h5>
      <p>
        Cotui, Sanchez Ramirez
        Santa Fe, #19
        arianmanuel75@gmail.com
      </p>
          </div>
    <div class="col-3">
      <h5>Télefono</h5>
      <h5>Fecha</h5>
      <h5>Valides de la oferta</h5>
      <h5>Metodo de pago</h5>
    </div>
    <div class="col-3">
      <h5>103</h5>
      <p>09/05/2019</p>
      <p>15/05/2020</p>
      <p>Contado</p>
    </div>
  </div>
  <div class="row my-5">
    <table class="table table-borderless factura">
      <thead>
        <tr>
          <th>Cant.</th>
          <th>Descripcion</th>
          <th>Precio Unitario</th>
          <th>Descuento</th>
          <th>Importe</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Clases de Cha-Cha-Cha</td>
          <td>3,000.00</td>
          <td>30%</td>
          <td>3,000.00</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Clases de Salsa</td>
          <td>4,000.00</td>
          <td>30%</td>
          <td>12,000.00</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>Total Factura</th>
          <th>RD$15,000.00</th>
        </tr>
      </tfoot>
    </table>
  </div>
    </div>
   
      
        <div class="cond row">
          <div class="col-12 mt-3">
           
          </div>
        </div>
    
      </div>
    </div>
  
   
  