
<div class="container ">
    <div class="row">
    <div class="col-6 d-flex justify-content-md-center">
        <div class="card ">
            <div class="card-header">
                <h5>Buscar voucher emitidos</h5>
                </div>
                <div class="card-body ">
                 <div class="d-flex justify-content-center">
                        <input type="text" class="form-control " (click)="busquedaEmit()" [(ngModel)]="buscarCode" id="buscarEmitido">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 ">
            <div class="card">
                <div class="card-header">
                    <h5>Resultado</h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <caption>Lista de productos</caption>
                        <thead>
                          <tr class="table-activ" >
                            <th scope="col">Código</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Origen</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of losvoucher | busquedaVoucherEmit:buscarCode">
                            <th scope="row">{{item.cod_market}}//{{item.cod_panaderia}}</th>
                            <td>{{item.pvalor}}</td>
                            <td>{{item.market}} {{item.panaderia}}</td>
                          </tr>
                            
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
