.btn-agregar-producto {
    background-color: #37ACDC;
    border-color: #37ACDC;
}
.btn-agregar-producto:focus{
    background-color: #54C7F5;
    border-color: #54C7F5;
}

.btn-ver-inventario {
    background-color: #80CA55;
    border-color: #80CA55;
}

.btn.btn-ver-inventario:focus{
    background-color: #AFEA8D ;
    border-color: #AFEA8D;

}

.texto-buton-in-prod{
    color: #fff;
}

.btn-realizar-venta{
    background-color: #FC0000;
    border-color: #FF3636;
}

.btn-venta-rapida{
    background-color: #FF5900;
    border-color: #FA7F3C;
}

.btn-realizar-grafico{
    background-color: #78008381;
    border-color: #78008381;
}