<!-- Container-fluid starts-->


<!-- Eliminar la herramienta de formato -->
<div class="container-fluid"  >
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Nuevo producto</h5>
                </div>
                <div class="card-body">
                    <div class="row product-adding">
                        <div class="col-xl-5">
                            <div class="add-product">
                                <div class="row">
                                    <div class="col-xl-9 xl-50 col-sm-6 col-9">
                                        <img [src]="url[0].img" alt=""  class="img-fluid image_zoom_1">
                                    </div>
                                    <div class="col-xl-3 xl-50 col-sm-6 col-3">
                                        <ul class="file-upload-product">
                                            <form  [formGroup]="productForm" (keypress)="noseenvia($event)">
                                            <li *ngFor="let item of url; let i=index">
                                                <div class="box-input-file">
                                                    <input class="upload" type="file" formControlName="ppicture" (change)="readUrl($event,i)">
                                                    <img class="imgUpload"  alt=""  [src]="item.img"></div>
                                                <small>Ingresé una imagen aquí</small>
                                            </li>
                                            </form>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <form class="needs-validation" [formGroup]="productForm" (ngSubmit)="guardarproducto()" novalidate (keypress)="noseenvia($event)">
                                <div class="add-product-form" >
                                    <div class="form-group row">
                                        <label for="validationCustom2121" class="col-xl-3 col-sm-4 mb-0">Proveedor:</label>
                                        <select id="validationCustom2121" class="form-control digits col-xl-8 col-sm-7" formControlName="provider_id">
                                            <option [ngValue]="p" *ngFor="let p of proveedor" [selected]="proveedor[p.nombre_provider]">{{p.nombre_provider}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom023" class="col-xl-3 col-sm-4 mb-0">Precio del proveedor:</label>
                                        <input class="form-control col-xl-8 col-sm-7" id="validationCustom023" type="number" formControlName="precio_provider" required="" autocomplete="off">
                                    </div>
                                    <div class="form-group row">
                                        <label  class="col-xl-3 col-sm-4 mb-0">Nombre de la marca
                                            :</label>
                                        <select class="form-control digits col-xl-8 col-sm-7" formControlName="brand_id" name="categorias"
                                                id="exampleFormControlSelect15" >
                                            <option value="0" selected></option>
                                            <option [ngValue]="y" *ngFor="let y of marcas" >{{y.bnombre}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom01" class="col-xl-3 col-sm-4 mb-0">Nombre descriptivo:</label>
                                        <input class="form-control col-xl-8 col-sm-7" id="validationCustom01"
                                            type="text" formControlName = "pdescripcion" required>
                                        <div *ngIf="pdescripcion.touched && pdescripcion.errors?.required"
                                            class="text text-danger">
                                            La descripción es necesaria.
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom02" class="col-xl-3 col-sm-4 mb-0">Precio administrativo:</label>
                                        <input class="form-control col-xl-4 col-sm-7" id="validationCustom02"
                                            type="number" formControlName="pvalor" (change)="datos(pvalor)" autocomplete="off" required>
                                        <select class="form-control col-xl-4 col-sm-7" formControlName="tax_id" id="tax_id"  (change)="calImp(tax_id, pvalor)" disabled>
                                            <option value="" selected></option>
                                            <option *ngFor="let im of (immp | async)" [ngValue]="im">{{im.tnombre}} </option>
                                        </select>

                                        <div *ngIf="pvalor.touched && pvalor.errors?.required"
                                            class="text text-danger">
                                            Precio del producto es requerido
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="iva2" class="col-xl-3 col-sm-4 mb-0">IVA:</label>
                                        <input type="text" [(ngModel)]="prdiva" class="form-control col-xl-8 col-sm-7" id="iva2"  formControlName="piva" disabled >
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom03" class="col-xl-3 col-sm-4 mb-0">Código producto:</label>
                                        <input class="form-control col-xl-8 col-sm-7" id="validationCustom03"
                                            type="number" formControlName="pcodigo" (keypress)="nosenvia($event)" required="">
                                        <div *ngIf="pcodigo.touched && pcodigo.errors?.required"
                                            class="text text-danger">
                                            Producto <Code></Code> Es requerido.
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label  class="col-xl-3 col-sm-4 mb-0">Seleccione una categoría:</label>
                                        <select class="form-control digits col-xl-8 col-sm-7" formControlName="category_id" name="categorias"
                                            id="exampleFormControlSelect1" (change)="cambio_category($event)">
                                            <option value="0" selected></option>
                                            <option [ngValue]="i" *ngFor="let i of categorias" >{{i.cnombre}}</option>
                                        </select>
                                        </div>

                                    <div class="form-group row" formGroupName="stock_id">
                                        <label class="col-xl-3 col-sm-4 mb-0">Ingresar stock :</label>
                                        <div class="qty-box1">
                                            <div class="input-group">
                                                <i class="fa fa-minus btnGtr1" (click)=decrement()></i>
                                                <input class="touchspin1 text-center" name="counter" formControlName="pstock" [value]="counter"
                                                    type="number">
                                                <i class="fa fa-plus btnLess1" (click)=increment()></i>
                                            </div>
                                        </div>

                                            <label class="col-xl-3 col-sm-4 mb-0">Ingreso de pérdida/s :</label>
                                            <div class="qty-box1">
                                                <div class="input-group">
                                                    <i class="fa fa-minus btnGtr1" (click)=decrement3()></i>
                                                    <input class="touchspin1 text-center" name="counter" formControlName="stock_lost" [value]="counter"
                                                           type="number">
                                                    <i class="fa fa-plus btnLess1" (click)=increment3()></i>
                                                </div>
                                            </div>

                                        <label class="col-xl-3 col-sm-4 mb-0">Ingreso de stock de catálogo:</label>
                                        <div class="qty-box1">
                                            <div class="input-group">
                                                <i class="fa fa-minus btnGtr1" (click)=decrement2()></i>
                                                <input class="touchspin1 text-center" name="counter" formControlName="pstockcatalogo" [value]="counter2"
                                                       type="number">
                                                <i class="fa fa-plus btnLess1" (click)=increment2()></i>
                                            </div>
                                        </div>

                                       <label class="col-xl-3 col-sm-4 mb-0">Ingreso de stock de seguridad:</label>
                                        <div class="qty-box1">
                                            <div class="input-group">
                                                <i class="fa fa-minus btnGtr1" (click)=decrement4()></i>
                                                <input class="touchspin1 text-center" name="counter" formControlName="stock_security" [value]="counter2"
                                                       type="number">
                                                <i class="fa fa-plus btnLess1" (click)=increment4()></i>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group ">
                                        <label class="col-form-label "><span>*</span> Vender en catálogo </label>
                                        <div class="m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                                            <label class="d-block" for="edo-ani">
                                                <input class="radio_animated" id="edo-ani" formControlName="pvactivacioncatalogo" type="checkbox" name="rdo-ani">
                                                Si
                                            </label>

                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="col-form-label "><span>*</span> Vender en la tienda </label>
                                        <div class="m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                                            <label class="d-block" for="edo-ani2">
                                                <input class="radio_animated" id="edo-ani2" formControlName="pactivado" type="checkbox" name="rdo-ani2">

                                                Si
                                            </label>

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-sm-4">Agregar detalle :</label>
                                        <div class="col-xl-8 col-sm-7 pl-0 description-sm">
                                            <label for="editor1"></label>
                                            <textarea type="text" id="editor1" language="es" formControlName="pdetalle" rows="10" cols="50"></textarea>
                                            </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-0">
                                    <div class="product-buttons col-sm-8 offset-xl-3 offset-sm-4">
                                        <button type="submit" class="btn btn-primary mr-1"  >Guardar</button>
                                        <button type="button" class="btn btn-light" (click)="resetiarform()">Descartar</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
