<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5> Crear nuevo usuario.</h5>
                </div>
                <div class="card-body tab2-card">
                    <ngb-tabset class="tab-coupon">
                        <ngb-tab title="Formulario de ingreso">
                            <ng-template ngbTabContent>
                                <div class="tab-pane fade active show" id="account" role="tabpanel" aria-labelledby="account-tab">
                                    <form [formGroup]="userform" (submit)="createnuevousuario(userform)"
                                        class="needs-validation user-add" novalidate="">
                                        <div formGroupName="user">
                                        <h4>Formulario de registro</h4>
                                        <div class="form-group row">

                                            <label for="validationCustom123" class="col-xl-3 col-md-4"><span>*</span>Rut</label>
                                            <input type="text" placeholder="Ingresar un rut" class="form-control col-xl-8 col-md-7"
                                                   formControlName="rut_user" id="validationCustom123"  (change)="validadorRut(rut_user)" >
                                            <ul class="alert-danger" >
                                                <li class="container-error-message" *ngIf="estadodelrut === false">Es incorrecto</li>
                                            </ul>
                                        </div>
                                        <div class="form-group row">
                                            <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>
                                                Nombre</label>
                                            <input class="form-control col-xl-8 col-md-7" formControlName="name_user" id="validationCustom0"
                                                type="text" required="">

                                        </div>
                                        <div class="form-group row">
                                            <label for="validationCustom1" class="col-xl-3 col-md-4"><span>*</span> Apellido paterno</label>
                                            <input class="form-control col-xl-8 col-md-7" formControlName="f_lastname" id="validationCustom1"
                                                type="text" required="">
                                        </div>
                                        <div class="form-group row">
                                            <label for="validationCustom1" class="col-xl-3 col-md-4"><span>*</span> Apellido materno </label>
                                            <input class="form-control col-xl-8 col-md-7" formControlName="m_lastname" id="validationCusto2"
                                                   type="text" required="">
                                        </div>
                                        <div class="form-group row">
                                            <label for="validationCustom1" class="col-xl-3 col-md-4"><span>*</span> Teléfono de contacto </label>
                                            <input class="form-control col-xl-8 col-md-7" formControlName="p_contacts" id="validationCusto3"
                                                   type="text" required="">
                                        </div>

                                        <div class="form-group row">
                                            <label for="validationCustom2" class="col-xl-3 col-md-4"><span>*</span>
                                                Correo</label>
                                            <input class="form-control col-xl-8 col-md-7" formControlName="email" id="validationCustom2" name="email"
                                                type="text" required="">

                                            <div class="alert-danger" *ngIf= "email.invalid && (email.dirty || email.touched)">
                                                <div class="container-error-message" *ngIf="email.errors.pattern">El formato del correo es incorrecta.</div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="validationCustom2" class="col-xl-3 col-md-4"><span>*</span>
                                                Dirección</label>
                                            <input class="form-control col-xl-8 col-md-7" formControlName="address" id="validationCustom321"
                                                   type="text" required="">
                                        </div>

                                            <div class="attribute-blocks">
                                                <h5 class="f-w-600 mb-3">Rol del usuario</h5>
                                                <div class="row">
                                                    <div class="col-xl-3 col-sm-4" >
                                                        <label>Roles</label>
                                                    </div>

                                                    <div class="col-xl-9 col-sm-8">
                                                        <div class="form-group m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                                                            <label class="d-block" for="edo-ani1">
                                                                <input class="radio_animated" id="edo-ani1" value="vendedor" type="radio"
                                                                       name="role" checked="" formControlName="role"  >
                                                                Vendedor
                                                            </label>


                                                            <label class="d-block" for="edo-ani4">
                                                                <input class="radio_animated" id="edo-ani4" value="administrador" type="radio" checked
                                                                       name="role" formControlName="role">
                                                                Administrador
                                                            </label>
                                                        </div>
                                                        <div class="pull-right">
                                                            <button type="submit" class="btn btn-primary">Guardar nuevo usuario</button>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                     </form>
                                </div>
                            </ng-template>
                        </ngb-tab>


                    </ngb-tabset>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
