<div id="batchDelete" class="category-table custom-datatable">
    <div class="table-responsive">
        <div class="container ">
            <div class="card">
                <div class="card-header">
                    <h3>Lista de productos</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                    <input type="text" class="form-control" name="filtroproducto" [(ngModel)]="filtroproducto" placeholder="Buscar">
                    </div>
                    <table class="table table-hover">
                        <thead>
                        <tr class="text-center">
                            <th>
                                Codigo de producto
                            </th>
                            <th>
                                Categoria
                            </th>
                            <th>
                                Categoria
                            </th>
                            <th>
                                Marca
                            </th>
                            <th>
                                Cantidad disponible
                            </th>
                            <th>Gestionar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let producto of productos | buscarproducto: filtroproducto " class="text-center">
                            <td>{{producto.pcodigo}}</td>
                            <td>{{producto.pdescripcion}}</td>
                            <td>{{producto.categories.cnombre}}</td>
                            <td>{{producto.brands.mnombre}}</td>
                            <td>{{producto.pstock}}</td>
                            <td>
                                <button  class="btn btn-warning">Editar</button>
                                <button  class="btn btn-danger">Eliminar</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Container-fluid Ends-->